@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Raleway', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    .relative input:-webkit-autofill {
        box-shadow: 0 0 0 1000px #424762 inset !important;
        -webkit-text-fill-color: white !important;
    }

    .nick input:-webkit-autofill {
        box-shadow: 0 0 0 1000px #2d3250 inset !important;
        -webkit-text-fill-color: white !important;
    }
}

.btn-shadow:hover {
    box-shadow: 0 0 10px 1px #ff9d52a6;
}

.btn-shadowwhite:hover {
    box-shadow: 0 0 20px 5px white;
}

.body {
    background: #161e31;
}

.bg-blacklight {
    background: #2d3250;
}

.bg-accent {
    background: #fab17b;
}

.perspective-1500 {
    perspective: 1500px;
}

.perspective-1000 {
    perspective: 1000px;
}

.perspective-800 {
    perspective: 800px;
}

.perspective-700 {
    perspective: 700px;
}

.perspective-500 {
    perspective: 500px;
}

.perspective-300 {
    perspective: 300px;
}

.perspective-200 {
    perspective: 200px;
}

.perspective-100 {
    perspective: 100px;
}