@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Raleway', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    input:-webkit-autofill {
        box-shadow: 0 0 0 1000px #424762 inset !important;
        -webkit-text-fill-color: white !important;
    }
}

.btn-shadow:hover {
    box-shadow: 0 0 10px 1px #ff9d52a6;
}
